.floatimage {
  float: right;
  border: 4px solid black;
  padding-right: 6px;
  padding-left:6px;
  padding-top:6px;
  padding-bottom:6px;
 }  


h1 {
  grid-column: span 12;
  font-family: Arial, Helvetica, sans-serif ;
  background-color: lightskyblue;
  color: black;
  padding: 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
}



nav ul{
  list-style: none;
  display: flex;
  justify-content: left;
  padding:0;
  margin:0;
}

nav li {
  border: 1px solid black;
  width: 150px;
  
  margin: 10px;
  background-color: green;
}
nav li a{
  padding: 10px;
  color: white;
  text-decoration: none;
  display:block;
}

nav li a:hover{
  background-color: blue;
}

.nav-links a:hover{
  background-color: blue;
  color:white;
  text-decoration: none;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.borderbottom{
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.justified-text{
  background-color: white;
  padding: 10px;
  border: 2px;
  grid-column: span 9;
}

a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

footer{
  background-color: lightskyblue;
  border: 2px solid black;
  color: white;
  text-align: center;
  font-family: verdana, sans-serif;
  font-style: italic;
  padding: 10px;
  margin-top:20px;
  grid-column: span 12;
}